html{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }

.container {
    width: 90%;
    max-width: 1120px;
    margin: 0 auto;
    position: relative;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}   

/* Estilos gerais do cabeçalho */
header {
    padding: 27px 0;
}

.logo{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.04em;
}

.logo-img {
  width: 30px; /* Ajuste o tamanho da logo */
  height: auto;
  margin-right: 10px; /* Espaço entre a logo e o texto */
}

.logo span{
    color: #abc1c6;
}

.header_menu li {
    margin-left: 40px;
}

.header_menu li a {
    transition: .3s;
}

.header_menu li a:hover {
    color: #abc1c6;
    transition: .3s;
}
/* */
.footer span {
    color: #abc1c6;
}

.footer {
    align-items: center;
}

footer {
    text-align: center;
    margin: 20px 0;
}

.copyright {
    font-size: 12px;
    margin-top: 20px;
}

.tutorial-section {
    padding: 60px 20px;
    background-color: #f0f0f0;
}

.tutorial-section .container {
    max-width: 1080px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tutorial-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.tutorial-section h2 {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #abc1c6;
}

.tutorial-section p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
}
